################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/socket/v16
/Day1_socket/Debug/服务端.tlog
/Day1_socket/.vs/Day1_socket/v16/ipch/AutoPCH/8ba4f6fa5e2fc67a/SERVER.ipch
/Day1_socket/.vs/Day1_socket/v16/ipch/AutoPCH/728d130607f52716/CLIENT.ipch
/Day1_socket/.vs/Day1_socket/v16/ipch/AutoPCH/4569b1c398cb3775/DAY_1.ipch
/Day1_socket/.vs/Day1_socket/v16/Browse.VC.opendb
/Day1_socket/.vs/Day1_socket/v16/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Day1_socket/Debug/服务端.pdb
/Day1_socket/Debug/服务端.ilk
/Day1_socket/Debug/服务端.exe
/Day1_socket/Debug/客户端.pdb
/Day1_socket/Debug/客户端.ilk
/Day1_socket/Debug/客户端.exe
/Day1_socket/Debug/vc142.pdb
/Day1_socket/Debug/vc142.idb
/Day1_socket/Debug/server.obj
/Day1_socket/Debug/Day1_socket.log
/Day1_socket/Day1_socket.vcxproj.user
/Day1_socket/Day1_socket.vcxproj.filters
/Day1_socket/Day1_socket.vcxproj
/Day1_socket/Day1_socket.sln
/Day1_socket/.vs/Day1_socket/v16/.suo
/Day1_socket/.vs/Day1_socket/v16
/客户端/客户端.vcxproj.user
/客户端/客户端.vcxproj.filters
/客户端/客户端.vcxproj
/客户端/Debug/客户端.log
/客户端/Debug/客户端.tlog/客户端.lastbuildstate
/客户端/Debug/客户端.tlog/link.write.1.tlog
/客户端/Debug/客户端.tlog/link.read.1.tlog
/客户端/Debug/客户端.tlog/link.command.1.tlog
/客户端/Debug/客户端.tlog/CL.write.1.tlog
/客户端/Debug/客户端.tlog/CL.read.1.tlog
/客户端/Debug/客户端.tlog/CL.command.1.tlog
/客户端/Debug/vc142.pdb
/客户端/Debug/vc142.idb
/客户端/Debug/client.obj
